.item-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.finished .label {
    opacity: .4;
    text-decoration: line-through;
}

.icon-logo {
    width: 50px;  /* Ajusta el ancho de la imagen */
    height: 50px; /* Ajusta la altura de la imagen */
}